.comment-stuff {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}
.comment-stuff .comment-options {
    height: 30px;
    width: 200px;
}
.create-comment-modal {
    padding: 40px;
}

.delete-comment-modal {
    padding: 40px;
}
.delete-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.delete-comment {
    background-color: red;
    &:hover {
        background-color: darkred;
    }
}
.keep-comment {
    background-color: blue;
    &:hover {
        background-color: darkblue;
    }
}
