button {
    width: 150px;
    height: 50px;
    background-color:darkgoldenrod;
    color: white;
    font-size: large;
    &:hover {
        cursor: pointer;
    }
}


.workout-box {
    background-color: darkgoldenrod;
    color: white;
    border: 2px black solid;
    height: 300px;
    display: flex;
    flex-direction: column;
    &:hover {
        cursor: pointer;
    }
}
.workout-list {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
    align-items: center;
}
.workout-box .workout.category,
.workout-box .workout.username {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
