button {
    border-radius: 10px;
    width: 150px;
    height: fit-content;
    background-color: rgb(84, 84, 235);
    border: 5px solid black;
    color: white;
    font-size: large;
    &:hover {
        cursor: pointer;
        background-color: white;
        color: black;
    }
}


.workout-box {
    background-color: rgb(84, 84, 235);
    color: white;
    border: 5px black solid;
    border-radius: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    width: auto;
    &:hover {
        cursor: pointer;
        background-color: white;
        color: black;
    }
}
.workout-list {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    text-align: center;
    align-items: center;
    width: auto;
}
.workout-category {
    font-size: inherit;
}

/* .workout-box .workout.category,
.workout-box .workout.username {
    width: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
} */
