.workout-header {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    & > * {
        height: 20px;
    }
}

.header-name {
    margin-left: 40px;
}
.workout-content {
    margin: 0;
}

.workout-container {
    white-space: pre-wrap;
    background-color: rgb(84, 84, 235);
    color: white;
    display: flex;
    justify-self: center;
    width: 85%;
    height: fit-content;
    border: 2px black solid;
    border-radius: 10px;
    line-height: 1.8em;
    width: fit-content;
    padding: 60px 100px;
}
.content {
    margin: 20px;
}
.content-text {
    width: 400px;
    font-size: 1rem;
    margin-bottom: 10px;
    display: block;
    border-radius: 3%;
}
.delete-workout-modal {
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 100px;
    height: 400px;
}
.delete-title {
    display: flex;
    align-items: center;
    padding: 30px;
    justify-self: center;
    flex: 1;
}
.options {
    flex: 1;
    display: flex;
    height: 100px;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}
.delete {
    background-color: red;
    &:hover {
        background-color: darkred;
    }
}
.keep {
    background-color: blue;
    &:hover {
        background-color: darkblue;
    }
}
.user-options {
    display: flex;
    width: 25%;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}
.comments-section {
    padding: 20px 20px;
}
.all-comments {
    padding: 20px 40px;
    background-color: darkgrey;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
}
.comment {
    margin-top: 50px;
}
.landing-page {
    background-color: grey;
    padding: 20px;
    border: 1px darkgrey solid;
    margin: 20px;
    border-radius: 20px;
}
html {
    z-index: 20;
    background-color: black;
}
.add-your-comment {
    background-color: darkgray;
    border-radius: 20px;
}
.add-comment {
    margin: 20px;
}
