.workout-header {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    & > * {
        height: 20px;
    }
}

.header-name {
    margin-left: 40px;
}
.workout-content {
    margin: 0;
}

.workout-container {
    white-space: pre-wrap;
    background-color: rgb(84, 84, 235);
    color: white;
    display: flex;
    justify-self: center;
    width: 85%;
    height: fit-content;
    border: 5px black solid;
    border-radius: 10px;
    line-height: 1.8em;
    width: fit-content;
    padding: 60px 100px;
}
.content {
    margin: 20px;
}
.content-text {
    width: 400px;
    font-size: 1rem;
    margin-bottom: 10px;
    display: block;
    border-radius: 3%;
    height: 200px;
}
.delete-workout-modal {
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 100px;
    height: 400px;
}
.delete-title {
    display: flex;
    align-items: center;
    padding: 30px;
    justify-self: center;
    flex: 1;
}
.options {
    flex: 1;
    display: flex;
    height: 100px;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}
.delete {
    background-color: red;
    &:hover {
        background-color: darkred;
    }
}
.keep {
    background-color: blue;
    &:hover {
        background-color: darkblue;
    }
}
.user-options {
    display: flex;
    width: 30%;
    background-color: darkgrey;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.users-options {
    background-color: darkgrey;
    border-radius: 20px;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}
.thumbs-up {
    display: flex;
    padding-right: 20px;
    gap: 10px;
    &:hover {
        cursor: pointer;
    }
}
.comments-section {
    padding: 20px 20px;
}
.all-comments {
    padding: 20px 40px;
    background-color: darkgrey;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
}
.comment {
    margin-top: 50px;
}
.landing-page {
    background-color: rgb(145, 138, 138);
    padding: 20px;
    border: 5px rgb(166, 159, 159) solid;
    margin: 20px;
    border-radius: 20px;
}
html {
    z-index: 20;
    background-color: rgb(178, 174, 174);
}
.create-button {
    height: fit-content;
    border: 5px black solid;
}
.add-your-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: darkgray;
    border-radius: 20px;
}
.like_count {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    padding-right: 20px;
    &:hover{
        cursor: pointer;
    }
}
.like_count_commented {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    border-radius: 20px;
    background-color: darkgray;
    padding: 20px;
}
.like-button {
    display: flex;
    gap: 10px;
}
.like-button:hover{
    cursor: pointer;
}
.add-comment {
    margin: 20px;
}
.add-workout {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.create-plan-button {
    margin-bottom: 30px;
}
